@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
.contact {
    width: 100%;
    font-family: 'cursive';
    font-size: 2rem;
}

@media only screen and (min-width: 550px) {
    .contact {
        display: flex;
        flex-direction: column;
        width: 61%;
        font-family: 'cursive';
        font-size: 2rem;
    }
}