@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
.footer {
    background-color: #fff;
    color: #000;
    font-family: 'Comforter', 'cursive';
    padding: 1%;
}

h1 {
    font-size: 3rem;
}

.social-media-icons-white {
    font-size: 2rem;
    padding-left: 45%;
}

@media only screen and (min-width: 600px) {
    .footer {
        background-color: #fff;
        color: #000;
        font-family: 'Comforter', 'cursive';
        width: 55%;
        padding: 1%;
    }
    .social-media-icons-white {
        padding-left: 6%;
    }
}