@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.img-hair {
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.about-mimis-hair {
    font-family: 'Comforter', 'cursive';
}

.products {
    font-family: 'cursive';
    color: #000;
}

@media only screen and (min-width: 600px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 57.5%;
    }
    nav a {
        text-decoration: none;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 95%;
    }
    .img-hair {
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }
}